@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@import '../tokens/shared.css';
@import '../tokens/light.css';
@import '../tokens/dark.css';

@custom-variant dark (&:is(.dark *));

@utility bg-surface-noised {
    position: relative;
    background: var(--surface);

    &::before {
        content: '';
        position: absolute;
        inset: 0;
        background: url('/noise.png') repeat;
        opacity: 0.35;
        pointer-events: none;
    }

    :is(.dark &)::before {
        opacity: 0.3;
    }
}

@utility scrollbar-hide {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@utility bg-dot-mesh {
    background-image: url("data:image/svg+xml,%3Csvg width='3' height='3' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='0.25' cy='0.25' r='0.5' fill='%23666'/%3E%3C/svg%3E");
    background-repeat: repeat;
}

@theme inline {
    --font-sans: var(--font-roboto);
    --font-mono: var(--font-roboto-mono);
    --font-display: var(--font-display);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    /* colors (surface) */
    --color-surface: var(--surface);
    --color-surface-item: var(--surface-item);
    --color-surface-foreground: var(--surface-foreground);

    /* fluid typography */
    --text-xxs: var(--text-size-xxs);
    --text-xs: var(--text-size-xs);
    --text-sm: var(--text-size-sm);
    --text-base: var(--text-size-base);
    --text-lg: var(--text-size-lg);
    --text-xl: var(--text-size-xl);
    --text-2xl: var(--text-size-2xl);
    --text-3xl: var(--text-size-3xl);
}
