@property --overlay-offset {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 25%;
}

.foil {
    transition: --overlay-offset 300ms cubic-bezier(0.22, 1, 0.36, 1);
    --factor: 0;
    background-image:
        repeating-linear-gradient(
            30deg,
            hsl(281, 100%, 50%) 0%,
            hsl(221, 75%, 40%) 1%,
            hsl(275, 100%, 50%) 3%,
            hsl(30, 100%, 50%) 5%,
            hsl(281 100% 50%) 7%
        ),
        repeating-linear-gradient(
            55deg,
            hsl(40 50% 50%) 0%,
            hsl(63, 50%, 50%) 2%,
            hsl(180 50% 50%) 3%,
            hsl(258, 50%, 50%) 4%,
            hsl(40 50% 50%) 5%,
            hsl(110, 100%, 50%) 5%
        ),
        repeating-linear-gradient(
            35deg,
            hsl(114, 26%, 15%) 0%,
            hsl(110, 71%, 20%) 20%,
            hsl(124, 20%, 30%) 50%,
            hsl(0 0% 100%) 300%
        ),
        radial-gradient(
            farthest-corner circle,
            hsl(0 0% 100%) 0%,
            hsl(138, 71%, 20%) 100%,
            hsl(126, 20%, 30%) 200%,
            hsl(0 0% 100%) 300%
        );
    background-blend-mode: difference;
    background-position:
        calc(var(--overlay-offset, 35%) + ((var(--x) / 18) - (var(--y) / 18))) 0,
        center;
    background-size: calc(100% * 20 * 2), 100%;
    /* mask-position: calc(50% + ((var(--x) - 50%) * var(--factor)))
        calc(50% + ((var(--y) - 50%) * var(--factor)));
    mask-size: 25px; */
    filter: brightness(1.1) contrast(1.25) saturate(2);
    mix-blend-mode: plus-lighter;
    will-change: background-image, background-position;
}

.dark .foil.foil-theme-aware {
    background-image:
        repeating-linear-gradient(
            30deg,
            hsl(190, 100%, 50%) 0%,
            hsl(176, 75%, 40%) 1%,
            hsl(275, 100%, 50%) 3%,
            hsl(30, 100%, 50%) 5%,
            hsl(190 100% 50%) 7%
        ),
        repeating-linear-gradient(
            55deg,
            hsl(40 50% 50%) 0%,
            hsl(63, 50%, 50%) 2%,
            hsl(180 50% 50%) 3%,
            hsl(258, 50%, 50%) 4%,
            hsl(40 50% 50%) 5%,
            hsl(110, 100%, 50%) 5%
        ),
        repeating-linear-gradient(
            35deg,
            hsl(114, 26%, 15%) 0%,
            hsl(110, 71%, 20%) 20%,
            hsl(124, 20%, 30%) 50%,
            hsl(0 0% 100%) 300%
        ),
        radial-gradient(
            farthest-corner circle,
            hsl(0 0% 100%) 0%,
            hsl(138, 71%, 20%) 100%,
            hsl(126, 20%, 30%) 200%,
            hsl(0 0% 100%) 300%
        );
}

.glare {
    background-image: repeating-linear-gradient(
        35deg,
        hsl(0, 0%, 0%) 0%,
        hsl(0, 0%, 100%) 20%,
        hsl(0, 0%, 0%) 40%,
        hsl(0, 0%, 100%) 60%,
        hsl(0, 0%, 0%) 80%
    );
    background-position: var(--pointer-x, 50%) var(--pointer-y, 50%);
    background-size: 150% 150%;
    filter: brightness(1.1) contrast(1.1) saturate(1.2);
    mix-blend-mode: overlay;
    will-change: background-position;
}
